@page
@model Waterful.Pages.EditModel

@{
    ViewData["Title"] = "Edit";
    ViewBag.ShowClose = true;
    var options = new DrinkOptions(ViewData, Model.Water);
    var option = options.GetOptionFromType(Model.Water.Type);
    var optionViewData = option["option"] as Models.DrinkOption;

    optionViewData!.IsCounterEnabled = false;
    var quantity = optionViewData.DefaultQuantity;
}

<section class="edit">
    <h1>Edit your drink</h1>
    <div class="d-flex">
        <partial name="_DrinkOptionPartial" view-data="@option" />
        <div class="d-flex flex-column justify-content-between my-4 mx-4">
            <div>
                <div class="type-badge mb-3">@(Model.Water.Type.ToString().AddSpacing())</div>
                <p>On @(Model.Water.Date.FormatLogDate())</p>
            </div>
            <form method="post">
                <input type="hidden" asp-for="Water.Id"/>
                <div class="analog-counter">
                    @Html.HiddenFor(model => model.Quantity, new { id = "editCounterValue" })
                    <div id="editCounter" class="drink-option__counter user-select-none">
                        <img src="~/images/Chevron Up.svg" alt="chevron"/>
                    </div>
                    <p id="editCounterValueDisplay" class="text-center">@quantity</p>
                    <div id="editUnCounter" class="drink-option__counter user-select-none">
                        <img src="~/images/Chevron Up.svg" alt="chevron" class="rotate-down"/>
                    </div>
                </div>
                <input type="submit" value="Done" class="btn btn-primary btn--fit my-2" />
            </form>
        </div>
    </div>
</section>