@page
@model Waterful.Pages.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<a asp-page="Create">Create New</a>
<table class="table">
    <thead>
        <tr>
            <th>@Model.Water[0].Date</th>
            <th>@Model.Water[0].Quantity</th>
            <th>@Model.Water[0].Type</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var log in Model.Water) {
        <tr>
            <td>@log.Date</td>
            <td>@log.Quantity</td>
            <td>@log.Type</td>
            <td>
                <a asp-page="./Edit" asp-route-id="@log.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@log.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@log.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>
